<!DOCTYPE html>
<html lang="en">

<head>
	<title>LAMP</title>
	<meta charset="utf-8" />
</head>
<style>
html, body {
  overflow-x:hidden
}
h4{
	text-align: left;
	width:80%;max-width:800px;
	font-family:"Times New Roman", Times, serif;
}
	table {
	  font-family: arial, sans-serif;
	  border-collapse: collapse;
	  width: 100%;
	}

	td, th {
	  border: 1px solid #dddddd;
	  text-align: left;
	  padding: 8px;
	}

	tr:nth-child(even) {
	  background-color: #dddddd;
	}
</style>
<body>
	<center>
		<h1>LAMP Output</h1>
		<img class="img-responsive" src="./imgs/lamp.jpg" style= "width:80%;max-height:300px;max-width:800px" alt="lamp-img">
		<table style = "width:80%;max-width:800px;">
			<tr>
				<td>Query</td>
				<td>{% query %}</td>
			</tr>
			<tr>
				<td>User Email</td>
				<td>{% email %}</td>
			</tr>
			<tr>
				<td>Date Run</td>
				<td>{% date %}</td>
			</tr>
			<tr>
				<td>NLP Version</td>
				<td>{% nlp version %}</td>
			</tr>
			</tr>
		</table>
		<h4>
			<br>
			<br>
			{% date %}<br><br>
			Welcome to Language Automated Machine Learing by Python (LAMP)!<br><br>
			If you have any questions feel free to reach out to barryguglielmo@gmail.com<br><br><hr><br></h4>

			  <h4> Figure 1. Positive and Negative Sentence Count</h4>
				<img class="img-responsive" src="./graphs/posneg.png" style= "width:70%;max-width:560px;" alt="lamp-img">
				<table style = "width:70%;max-width:560px;">
				  <tr>
				    <th>Positive Sentence Counts</th>
				    <th>Negative Sentence Counts</th>
				  </tr>
				  <tr>
				    <td>{% positive counts %}</td>
				    <td>{% negative counts %}</td>
				  </tr>
				  </tr>
				</table>
				<br><br>
				<h4> Figure 2. Lemmitized Word Cloud</h4>
				<img class="img-responsive" src="./graphs/wordcloud.png" style= "width:70%;max-width:560px;" alt="lamp-img">
				<br><br>
</body>
